
<div class="Books-outside-container">
  
  


  <div class="New-book-btn">
    <%= link_to 'New Book', new_book_path, class: "New-book-btn-link" %>
  </div>

	
  <div class = "Books-container">


  <% if user_signed_in? %>


      <% @books.each do |book| %>


    <div class = "Book-image">
        <%= link_to image_tag(book.image), book, class: "Book-image-item" %>
    </div>

         
          


    
        
 

   <% end %>



  <% else %>

  <h1>You need to log in to view the books</h1> <!--  THIS SHOULD BE A NOT LOGGED IN PAGE FOR BOOKS -->

  <% end %>


</div>

</div>


