


.container-fluid {

	position: relative;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
  	font-weight: bold;
  	margin-top: 3%;
  	
  	

}


.Navbar-ul  {

	
	height: 50px;
	list-style-type: none;
	overflow: hidden;
	background: #F2F3F4 ;
	padding: 0;
	margin: 0px 0px 0px;
	justify-content: bottom;
	margin-right: 30px
	

}

.Navbar-li  {
	
	
	float: left;
	

}

.Navbar-li-devise {
	
	float: right;

}

.Navbar-item {
  
  
  height: 200px;
  width: auto;

  color: black;
  padding-left: 15px;
  margin-top: 200px;
  text-decoration: none;
  

}



hr {


	height: 4px;
  
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    
    

}

.Navbar-logo img {
	float: top;
	height: 25px;
	width: auto;
	margin-top: 0px;
	margin-left: 100px;
}

a.Navbar-item {
	margin-top: 10px;
}