


.container-fluid {

	position: relative;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
  	font-weight: bold;
  	margin-top: 1%;
  	


}

.Navbar-ul  {

	
	height: 32px;
	list-style-type: none;
	overflow: hidden;
	background: #F2F3F4 ;
	padding: 0;
	margin: 0px 0px 0px;

	
	

}

.Navbar-li  {
	
	
	float: left;
	

}

.Navbar-li-devise {
	
	float: right;
	margin-right: 20px;

}

.Navbar-item {
  
  
  
  text-decoration: none;
  display: block;
  color: black;
  padding-left: 15px;
  
  

}


hr {

	height: 3px;
	color: black;
	background-color: #ccc;
	border: none;
	margin: 0px 0px;
}
    



.Navbar-logo img {

	display: block;
	float: left;
	height: 32px;
	width: auto;
	margin-top: 0px;
	padding-left: 20px;
}

.Navbar-devise-logo img {

	display: block;
	height: 32px;
	width: auto;
	margin-top: 0px;
	padding-left: 10px;

}
