/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


html, body {

	margin-left: 0;
	background: rgb(46,62,78);
	background: linear-gradient(90deg, 
	rgba(46,62,78,1) 0%, rgba(41,72,93,1) 20%, 
	rgba(33,63,89,1) 37%, rgba(19,65,94,1) 48%, 
	rgba(18,65,97,1) 53%, rgba(94,120,150,1) 76%, 
	rgba(57,114,139,1) 100%);

}