


.Books-container {

  width: 80%;
  height: auto;

  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);

  position: relative;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;

   
}

.Book-image img {
	
	height: 300px;
	display: inline-block;
	float: left;
  margin-left: 15px;
  margin-bottom: 15px;
	padding: 2px;
  border-radius: 18px;
  border-size: 2px;
  box-shadow: 0 3px 5px #878282 ;
  transition: transform .2s;

}

.Book-image img:hover {

  transform: scale(1.08);

}

.New-book-btn {

  background-color: #FBFBFA;
  box-shadow: 0  4px 6px #878282 ;
  

  width: 200px;
  height: 35px;

  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);

  position: relative;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;

  margin-top: 30px;
  margin-bottom: 40px;



}

.New-book-btn-link  {

  text-decoration: none;
  margin-top: 3px;
  color: #8E8B8B ;

}

.New-book-btn-link:hover  {

  color: black;
  font-weight: 500;

}






/* SHOW PAGES IS BELOW*/





.Book-image-show img {

 	height: 700px;
	width: auto;
   left: 30%;
   top: 10%;
   position: absolute;
   
}

.Show-info {

	float:right;
	margin-right: 35%;
	margin-top: 15%;

}

