
.Books-outside-container {

position: absolute;
    top: 70px; /* Header Height */
    bottom: 0px; /* Footer Height */
    width: 100%;
  background-color: black;

  
}

.Books-container, .Book-show-container  {

  width: 90%;
  height: auto;

  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);

  position: relative;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  

   
}

.Book-image img {
	
	height: 220px;
	display: inline-block;
	float: left;
  margin-left: 15px;
  margin-bottom: 15px;
	padding: 2px;
  border-radius: 18px;
  border-size: 2px;
  box-shadow: 0 3px 5px #878282 ;
  transition: transform .2s;

}

.Book-image img:hover {

  transform: scale(1.08);

}

.New-book-btn {

  background-color: #15181c;
  box-shadow: 0px 2px 15px #5A5A5B ;
  

  width: 200px;
  height: 35px;

  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);

  position: relative;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;

  margin-top: 50px;
  margin-bottom: 40px;



}

.New-book-btn-link  {

  text-decoration: none;
  margin-top: 3px;
  color: #8E8B8B ;

}

.New-book-btn-link:hover  {

  color: black;
  font-weight: 500;

}






/* SHOW PAGES IS BELOW*/


.Book-show-container {

  background-color: red;
  justify-content: center;

 
}


.PDF-list {

  width: 50%;
  height: auto;
  float: right;
  background-color: green;

}

#PDF-image {

  height: 50px;

}

#Book-show-image img {

  width: 10%;
  height: auto;
}

.Choose-book, .Update-book {

  background-color: yellow;
  margin: 0;
  padding: 0;

}