.Crypto-currencies{


 margin-left: 15%;
 margin-top: 1%;


}

.Crypto {
	
	float: left;
	display: inline-block;
    margin-left: 4%;

}


#Crypto-price {
	font-size: 15px;
	background-color: black;
	color: white;
	font-weight: bold;
	padding-left: 5px;
	border-radius: 5px;
}



.Crypto-container {

	float: left;
	height: fill;
	width: fill;
	margin-left: 20px;
	margin-right: 20px;
	
	background-color: #EAEAEA ;
	border-radius: 10px;

}


.crypto-images {

	vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 300px;

    margin-top: 30px;
    margin-bottom: 25px;

  
}

.crypto-images img {

	width: 300px;
	height: 200px;
	max-height: 220px;
	border-radius: 10px;


}

strong.caption {


	display: block;
	width: 300px;
	height: 50px;
	text-align: left;
	font-size: 12px;
	background-color: black;
	color: white;
	padding: 2%;
	margin-top: 2px;
	border-radius: 5px;
	text-decoration:none;
	
}




.read-more {

	float: left;
	width: 300px;
	height: 20px;
	margin-top: 1px;
	font-size: 10px;
	color: #AC5A5B;
	background-color: #292626  ;
	text-align: left;
	padding: 3px;
	border-radius: 5px;
	text-decoration:none;

}

