


.Crypto-container {

	float: left;
	
}


.crypto-images {

	vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 300px;


    margin-bottom: 25px;

  
}

.crypto-images img {

	width: 300px;
	height: auto;
	max-height: 220px;


}

.caption {
	display: block;
	width: 300px;
	text-align: left;
	font-size: 12px;
	background-color: black
;	color: white;
	padding: 2%;
}

.read-more {

	float: left;
	width: 300px;
	height: 20px;
	margin-top: 1px;
	font-size: 10px;
	color: #AC5A5B;
	background-color: #464646 ;
	text-align: left;
	padding: 3px;

}

