



.Crypto-container {

	width: 100%;
	height: auto;
	left: 50%;
  	-webkit-transform: translate(-50%);
  	transform: translate(-50%);

	position: relative;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	background-color: black;

}


.crypto-images {

	vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 300px;
    margin-top: 30px;
    margin-bottom: 15px;
    transition: transform .2s;
    margin-right: 10px;


  
}

.crypto-images:hover {
	transform: scale(1.05);
}


.crypto-images img {

	width: 300px;
	height: 200px;
	max-height: 220px;
	border-radius: 10px;


}


strong.caption {


	display: block;
	width: 300px;
	height: 50px;
	text-align: left;
	font-size: 12px;
	background-color: black;
	color: white;
	padding: 2%;
	margin-top: 2px;
	border-radius: 5px;
	text-decoration:none;
	
}




.read-more {

	float: left;
	width: 300px;
	height: 20px;
	margin-top: 1px;
	font-size: 10px;
	color: #AC5A5B;
	background-color: #292626  ;
	text-align: left;
	padding: 3px;
	border-radius: 5px;
	text-decoration:none;

}

