
.Devise-container, .Devise-head {

	
	width: 70%;
	height: auto;

	left: 50%;
	top: 50%;
  	-webkit-transform: translate(-50%, 50%);
  	transform: translate(-50%, 50%);

	position: relative;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	

}

.Devise-head {

	

	width: 70%;
	height: 50px;
	margin-top: 200px;
	font-size: 15px;
	margin-bottom: -75px;
	padding-top: 15px;
	font-weight: 400;
}


.field {

	
	width: 400px;	
	text-align: center;
}

.field-item {

	width: 305px;
	font-size: 11px;
	padding-left: 3px;

  	
	

}



#min-length {

	margin-top: 15px;
	font-size: 10px;
}


#remember-me {

	margin-top: 15px;
	font-size: 10px;
}