

.Devise-container{

	position: absolute;
    top: 70px; /* Header Height */
    bottom: 0px; /* Footer Height */
    width: 100%;
	background-color: black;
}



.Card-devise {

	width: 30%;
	background-color: #15181c;
	left: 50%;
  	transform: translate(-50%, 50%);
	position: relative;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;


}



.Devise-head {

	
	background-color: green;
	width: 305px;
	height: 20px;
	text-align: center;
	font-size: 15px;

}


.field {

	width: 400px;	
	text-align: center;
}

.field-item {

	width: 305px;
	font-size: 11px;
	padding-left: 3px;

  	

}



#min-length {

	margin-top: 15px;
	font-size: 10px;
	color: white;
}


#remember-me {

	margin-top: 15px;
	font-size: 10px;
	color: white;
}